/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply the yellow, red, and grey theme to the body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #FFC107; /* Yellow */
}

.header-bar {
  text-align: center;
  padding: 20px;
  background-color: #FFC107; /* Yellow */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


/* Style the navigation menu */
nav {
  background-color: #FFC107; /* Yellow */
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #FFC107; /* Yellow */
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

nav ul li a:hover::after {
  transform: scaleX(1);
}

/* Style the heading */
<style>
h1 {
 text-align:center
}
</style>

/* Style the dropdown menu */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFC107; /* Yellow */
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Style the carousel */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-slide {
  display: flex;
}

.slide {
  flex: 0 0 100%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
}

.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  z-index: 1;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}



/* Style the team area */
.team-area-banner {
  background-color: #333; /* Grey */
  width: 500px;
  border: 20px;
  margin-left: 38px;
  margin-top: 19px;
  color: #FFFFFF;
  padding: 20px;
}

/* Style the team area text */
.team-area-text { 
	background-color: #FFFFFF; /*White*/
	margin-left: 40px;
	margin-right: 40px;
	color: #000000;
	padding: 20px;
}

/* style page-print */
.lower-section {
	border-color:#FFC107; /*Yellow*/
}


